.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.md
*.json
*.csv
*.ipynb
tests/
.git/
.gitignore
docker-compose.yml
Dockerfile
*.sh
*.env
*.DS_Store
*.egg-info/
node_modules/
*.bak
*.swp
*.tmp
data/
chat_histories/
main_api.py
instrução.md
transforming_data/
dashboards/
pages/
static/
