.env

venv

__pycache__

documentation/Iniciativas.md

documentation/instrucoes.md

vectorstore

vectorstore/faiss_index

transforming_data/client_secrets.json

transforming_data/documentation/dados.csv

transforming_data/documentation/dados.md